@model MvcApplicationTask.Models.MsgModels

@{
    ViewBag.Title = "Create";
}
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>New Message</legend>

            @*<span class="label label-info">@Html.LabelFor(model => model.Date)</span>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Date)
            </div>*@

            <span class="label label-info">@Html.LabelFor(model => model.Emiteur)</span>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Emiteur, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Emiteur)
            </div>

            

            <span class="label label-info">@Html.LabelFor(model => model.Contenu)</span>
            <div class="form-group">
                @Html.TextAreaFor(model => model.Contenu, new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.Contenu)
            </div>

            <p>
                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-ok-sign"> Create</span></button>
            </p>
        </fieldset>
    }

    <div class="btn btn-default">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
