@model MvcApplicationTask.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Form change password</legend>
        <ul>
            <li>
                <span class="label label-info">Current Password</span>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </li>
            <li>
                <span class="label label-info">New password</span>                
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </li>
            <li>
                <span class="label label-info">Confirm the new password</span>                
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </li>
        </ul>
        <button type="submit" class="btn btn-success pull-right">Change password</button>
    </fieldset>
}
