@model MvcApplicationTask.Models.LoginModel
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@{
    ViewBag.Title = "Sign in";
}


@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>    
        <div class="page-header">
            <h1>Form <small>Sign in</small></h1>
        </div>
        <div class="row">
            <div class="form-group">
                @*@Html.LabelFor(m => m.UserName, new {  })*@
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Login" })
                </div>
                <div class="col-md-7">
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="col-md-7 alert-link">
                    @Html.ValidationMessageFor(m => m.Password)
                            </div>
                @*@Html.LabelFor(m => m.Password)*@
             </div>
        </div>
        <div class="row">
            <div class="col-md-3 push-2">
                @Html.ActionLink("Forget Password","Forget","Accueil")
            </div>
        </div>
        <div class="container sub">
            <button type="submit" class="btn btn-info">Sign in <span class="glyphicon glyphicon-log-in"></span></button>
        </div>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
