@model MvcApplicationTask.Models.LocalPasswordModel
@{
    ViewBag.Title = "Gérer le compte";
}

<div class="container">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You are connected <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

    @*<section id="externalLogins">
            @Html.Action("RemoveExternalLogins")

            <h3>Ajouter une connexion externe</h3>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
