<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Aidi-Inc</a>

                 </div>
                <div class="row pull-right">
                    @Html.Partial("_MyLoginPartial")
                </div>
                <div class="collapse navbar-collapse navbar-ex-collapse">
                    <ul class="nav navbar-nav ">
                        <li>@Html.ActionLink("Task", "Index", "Task")</li>
                        <li>@Html.ActionLink("Out / In", "Index", "Task")</li>
                        <li>@Html.ActionLink("Communication", "Index", "Msg")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("LogOut", "Index", "Task")</li>
                                <li>@Html.ActionLink("Edit", "Index", "Task")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
            </div>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p>&copy; @DateTime.Now.Year Aidi-Inc</p>
                </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
